.header {
    background-color: rgba(14, 13, 13, 0.2);

    color: #fff;
    height: 15%;
}

.headername {
    color: rgb(183, 1, 1);
    font-size: larger;
    font-weight: 900;
}

.wel-exit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#exitsvg {
    margin-left: 20px;
    background-color: rgb(183, 1, 1);
    color: #fff;
}
